PandasAssignment
--

In [ ]:
Q1. How do you load a CSV file into a Pandas DataFrame?

In [ ]:
import pandas as pd
dataframe = pd.read_csv(r"./filename.csv")

In [ ]:
Q2. How do you check the data type of a column in a Pandas DataFrame?

In [ ]:
dataframe.dtypes

In [ ]:
Q3. How do you select rows from a Pandas DataFrame based on a condition?

In [ ]:
dataframe[dataframe['name'] == 'iNeuron']

In [ ]:
Q4. How do you rename columns in a Pandas DataFrame?

In [ ]:
dataframe.rename(columns={'old_column': 'new_column'})

In [ ]:
Q5. How do you drop columns in a Pandas DataFrame?

In [ ]:
dataframe.drop('column_name', axis=1, inplace=True)

In [ ]:
Q6. How do you find the unique values in a column of a Pandas DataFrame?

In [ ]:
dataframe['column_name'].unique

In [ ]:
Q7. How do you find the number of missing values in each column of a Pandas DataFrame?

In [ ]:
dataframe.isnull().sum()

In [ ]:
Q8. How do you fill missing values in a Pandas DataFrame with a specific value?

In [ ]:
dataframe.fillna(value={'value1':'data1', 'value2':'data2'})

In [ ]:
Q9. How do you concatenate two Pandas DataFrames?

In [ ]:
pd.concat([dataframe1, dataframe2], axis=1)

In [ ]:
Q10. How do you merge two Pandas DataFrames on a specific column?

In [ ]:
pd.merge(dataframe1, dataframe2, on=['matching column1', 'matching column2'], how='inner')  # how = left / right/ inner / outer

In [ ]:
Q11. How do you group data in a Pandas DataFrame by a specific column and apply an aggregation function?

In [ ]:
dataframe.groupby(['column1', 'column2']).count()

In [ ]:
Q12. How do you pivot a Pandas DataFrame?

In [ ]:
dataframe.pivot(index='column1', columns= 'column2', values=['col3', 'col4'])

In [ ]:
Q13. How do you change the data type of a column in a Pandas DataFrame?

In [ ]:
dataframe['column'].astype(datatype)

In [ ]:
Q14. How do you sort a Pandas DataFrame by a specific column?

In [ ]:
dataframe.sort_values(by='column')

In [ ]:
Q15. How do you create a copy of a Pandas DataFrame?

In [ ]:
dataframe2 = dataframe.copy()

In [ ]:
Q16. How do you filter rows of a Pandas DataFrame by multiple conditions?

In [ ]:
dataframe[(dataframe['columns'] > 0) and (dataframe['columns'] < 100)]

In [ ]:
Q17. How do you calculate the mean of a column in a Pandas DataFrame?

In [ ]:
dataframe.mean()

In [ ]:
Q18. How do you calculate the standard deviation of a column in a Pandas DataFrame?

In [ ]:
dataframe.std()

In [ ]:
Q19. How do you calculate the correlation between two columns in a Pandas DataFrame?

In [ ]:
dataframe['column1'].corr(data['column2'])

In [ ]:
Q20. How do you select specific columns in a DataFrame using their labels?

In [ ]:
dataframe['column']

In [ ]:
Q21. How do you select specific rows in a DataFrame using their indexes?

In [ ]:
dataframe.iloc[index_num]

In [ ]:
Q22. How do you sort a DataFrame by a specific column?

In [ ]:
dataframe.sort_values(by='column')

In [ ]:
Q23. How do you create a new column in a DataFrame based on the values of another column?

In [ ]:
dataframe['new_column'] = dataframe2['old_column']

In [ ]:
Q24. How do you remove duplicates from a DataFrame?

In [ ]:
dataframe.drop_duplicates()

In [ ]:
Q25. What is the difference between .loc and .iloc in Pandas?

In [ ]:
The main difference between .loc and .iloc is that, loc is used for label-based slicing while iloc is used for integer-position based slicing.